@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  font-size: 10px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
  position: relative;
  height: 100vh;
}

.header {
  height: 35vh;
  background: url('./images/pattern-bg.png') no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5rem;
}

@media screen and (min-width: 1440px) {
  .header {
    min-height: 25vh;
  }
}

.title {
  color: white;
  font-weight: 400;
  font-size: 3rem;
}

.form {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
}

.input {
  all: unset;
  background: #fff;
  padding: 1.5rem 1.8rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  width: 400px;
  font-family: inherit;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.1);
}

.loading-div {
  display: flex;
  align-items: center;
  background: #000;
  padding: 1.5rem 2rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  cursor: pointer;
}

.loading-div:active {
  background: hsl(0, 0%, 17%);
}

/* loader */
.loader {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  /* background: transparent; */
  /* border: 0.25rem solid transparent; */
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  /* border-top-color: white; */
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.arrow.active {
  display: none;
}

/* data- received */
.data-received {
  position: relative;
  background: #fff;
  padding: 3.5rem 2.5rem;
  margin: 0 auto;
  width: 80%;
  margin-top: -6rem;
  display: flex;
  border-radius: 2rem;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.data-received div:not(:first-child) {
  margin-left: 8rem;
}

@media screen and (min-width: 1440px) {
  .data-received div:not(:first-child) {
    margin-left: 15rem;
  }
}

.data-received div {
  position: relative;
}

.data-received div:not(:first-child)::after {
  position: absolute;
  content: '';
  width: 60px;
  height: 1px;
  top: 40px;
  left: -60px;
  transform: rotate(90deg);
  background: rgba(0, 0, 0, 0.15);
}

.heading {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: hsl(0, 0%, 59%);
  font-size: 1.1rem;
  font-weight: 700;
}

.result {
  font-weight: 500;
  padding-top: 1.3rem;
}

.map {
  position: absolute;
  bottom: 0px;
  height: 65%;
  width: 100%;
  z-index: 0;
  background: rgb(212, 212, 212);
}

@media screen and (max-width: 895px) {
  .input {
    width: 65vw;
  }

  .data-received {
    margin-top: -8rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 90vw;
  }

  .data-received div:not(:first-child) {
    margin-left: 0;
    padding-top: 1.5rem;
  }

  .data-received div:not(:first-child)::after {
    display: none;
  }

  .result {
    padding-top: 0.5rem;
  }
}
